:root {
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#FFC107;
    --secundario:#0097A7;
    --gris:#757575;
    --grisClaro:#DFE9F3;
}
/*globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;/*Hack para box model*/
    scroll-snap-type: y mandatory;/*codigo que hace que se deslice hasta cierta parte de la pagina*/
}

/*Scroll Snap*/
.servicios, 
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-size: 16px; /*1rem = 10px*/
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top,var(--grisClaro) 0%, var(--blanco) 100%);/*to top parte desde abajo*/

}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem ;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    max-width: 300px;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    
    }
}

.boton:hover {
    cursor: pointer;/*para poner el curso de la mano en el boton*/
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.65);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.65);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.65);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*Tipografia*/
h1 {
    font-size: 3.8 rem;
}

h2 {
    font-size: 2.8 rem;
}

h3 {
    font-size: 1.8 rem;
}

h1,h2,h3 {
    text-align: center;
}

/*titulos*/
.titulo span {
    font-size: 2rem;
}

/*Utilidades*/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
        justify-content: center;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
    
}


/*Navegacion principal*/
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color:var(--oscuro)
}

/*Hero*/
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);/*anterior*/
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

@media (min-width:768px ) {
   /*servicios*/
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*se puede poner 1fr tambien*/
    column-gap: 5rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
    
}
.servicio .iconos {
    height: 15rem;/*altura*/
    width: 15rem;/*ancho*/
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*formulario de contacto*/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100% );/*utiliza el valor más pequeño*/
    margin: 0 auto;/*se usa cuando se tiene formulario y no contiene display flex*/
    padding: 2rem;
    border-radius: 1rem;
    align-content: center;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;/*transforma las palabras en mayusculas*/
    font-weight: 700;/*para poner en negritas*/
    margin-bottom: 2rem;/*margen de abajo*/
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 22rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
       
}

.contenedor-campos {
    display: grid;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;/*negrita*/
    margin-bottom: .5rem;
    display: block;/*toma todos los espacios disponibles*/
}

.campo textarea {
    height: 20rem;/*altura*/
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* Footer */
.footer {
    text-align: center;
